*,
*::before,
*::after {
    box-sizing: border-box;
    /* outline: 1px solid magenta; */
}

:root {
    --background-color: #fff;
    --text-color: 0, 0, 0;
    --PI: 3.14159265358979;
}

body {
    height: 100vh;
    height: 100svh;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    color: rgb(var(--text-color));
    font-family: 'Inter', sans-serif;
}

main {
    display: grid;
    place-items: center;
    height: 100%;
}

.container {
    width: 100%;
    max-width: 400px;
    row-gap: 2em;
    display: flex;
    justify-content: center;
    position: relative;
}

.side-by-side {
}

.container > * {
    transition: transform 0.5s ease;
}

.clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: var(--background-color);
    z-index: 5;
    width: 100%;
}

.side-by-side .clock {
    transform: translateX(-50%);
}

form {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

form .group {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
}

button {
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    padding: 0.5em 1em;
    width: 100%;
    background-color: transparent;
    border: 1px solid currentColor;
    color: var(--text-color);
}

button:hover {
    background-color: rgba(var(--text-color), 0.1);
    transition: 0.5s background-color ease;
}

.left-button {
    border-right: 0.5px solid currentColor;
    border-radius: 50px 0 0 50px;
}

.right-button {
    border-left: 0.5px solid currentColor;
    border-radius: 0 50px 50px 0;
}

#start-button {
    border-radius: 50px;
}

.hidden {
    display: none;
}

form .hidden {
    display: none;
}

aside {
    position: absolute;
    inset: 0;
    width: 100%;
    z-index: -5;
    scrollbar-width: none;
}

.side-by-side aside {
    transform: translateX(50%);
    overflow: scroll;
    z-index: 0;
}

.side-by-side aside::-webkit-scrollbar {
    display: none;
}

svg circle {
    fill: none;
    stroke: currentColor;
}

svg .hour-ticks {
    stroke-width: 5px;
    /* 1px circumference/12 - 1px  */
    /* 1px calc(2 * 3.14159 * 45.0 / 12 - 1) */
    stroke-dasharray: 1px 22.561945px;
    transform: rotate(-0.01111rad);
}

svg .second-ticks {
    stroke-width: 2px;
    /* 0.5px circumference/60 - 0.5px  */
    /* 0.5px calc(2 * 3.14159 * 46.5 / 60 - 0.5) */
    stroke-dasharray: 0.5px 4.369469px;
    transform: rotate(-0.005376rad);
}

svg text {
    font-family: 'Roboto Mono', monospace;
}

ul {
    list-style: none;
    font-family: 'Roboto Mono', monospace;
    padding: 0 2em;
}

ul li .lap-info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(var(--text-color), 0.2);
}

.lap-time {
    position: relative;
}

.lap-time::before {
    content: '+';
    left: -1em;
    position: absolute;
}

@media (max-width: 600px) {
    main {
        padding: 1em;
    }
}

@media (max-width: 800px) {
    main {
        align-items: start;
    }

    .side-by-side .clock {
        transform: unset;
    }

    .side-by-side aside {
        transform: translateY(100%);
    }
}

@media (min-width: 1800px) {
    body {
        font-size: 25px;
    }

    .container {
        max-width: 600px;
    }

    svg {
        height: 600px;
        width: 600px;
    }

    form {
        max-width: 600px;
    }
}
